/* Custom CSS */
@media screen and (max-width: 768px) {
    .w-50 {
        width: 100% !important;
    }

    .mt-8rem {
        margin-top: 3rem !important;
    }

    .mt-15rem {
        margin-top: 5rem !important;
    }
}

.mt-8rem {
    margin-top: 8rem;
}

.mt-10rem {
    margin-top: 10rem;
}

.mt-15rem {
    margin-top: 15rem;
}